.c-subsdb {
  position: relative;
  &__legendlist {
    display: flex;
    list-style: none;
    padding-left: 0;
    
  }
  &__legenditem {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    // justify-content: center;
    margin-right: 0.9375rem;
    h3 {
      font-size: 0.75rem;
    }
  }
  &__legendcolor {
    width: 0.5rem;
    height: 1.625rem;
    margin-right: 0.3125rem;
    margin-bottom: 0.5rem;
    &--streamz {
      background-color: $color-chart-pink;
    }
    &--streamzpremium {
      background-color: $color-chart-pink2;
    }
    &--gratis {
      background-color: $color-chart-yellow;
    }
  }
  &__dropdown {
    cursor: pointer;
    z-index: 1;
    font-size: 1.5rem;
    @include media-breakpoint-down(sm) {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}
