.c-sidenav {
    display: block;
    position: fixed;
    background-color: $color-background;
    height: 100vh;
    margin-right: .3rem;
    z-index: 3;
    overflow: hidden;
    border-right: 5px solid $color-accent;
    left: 0;
    top: 0;
    &__menu{
      display: flex;
      flex-direction: column;
      margin-top: 8rem;
      align-items: start;
      @include media-breakpoint-down(lg){
        margin-top: 0rem;
      }
      &--2de{
        margin-top: 5rem;
        // justify-content: end;
        ;
      }
    }
    &__wrap{
        @include media-breakpoint-up(lg){
            display: none;
      }
    }
    &__rapport{
        justify-content: end;
        flex-direction: column;
        flex-wrap: wrap;
        display: flex;
      @include media-breakpoint-down(lg){
        margin-top: 2rem;
      }
    }
    &__item{
      text-align: center;
      margin-top: 2rem;
      list-style-type: none;
      @include media-breakpoint-down(lg){
        margin-top: 2.9rem;
      }
    }
    &__link{
      text-decoration: none;
      color: white;
      &:hover{
        color: $color-accent;
      }
    }
    @include media-breakpoint-down(xl){
      display: none;
    }
    &__ra{
      margin-left: 2rem;
      margin-top: 3rem;
    }
    &__icon{
      margin-right: 2rem;
      padding: .5rem;
      // font-size: 20rem;
      width: 2.25rem;
      height: 2.25rem;
      &--active{
        background-color: $color-accent;
        // border: 5px solid $color-accent;
        border-radius: .5rem;
      }
      &--plus {
        padding-left: .5rem;
      }
    }

  }
  .c-btn__sidenav{
    width: 12rem!important;
  }
 
  