
  .c-sidenav {
    display: block;
    position: fixed;
    background-color: $color-background;
    height: 100vh;
    margin-right: .3rem;
    z-index: 3;
    overflow: hidden;
    border-right: 5px solid $color-accent;
    left: 0;
    &__item{
      text-align: center;
      margin-top: 5rem;
      list-style-type: none;
    }
    &__link{
      text-decoration: none;
      color: white;
      &:hover{
        color: $color-accent;
      }
    }
    @include media-breakpoint-down(lg){
      display: none;
    }
    &__icon{
      margin-right: 2rem;
      width: 40px;
      &--active{
        background-color: $color-accent;
        border: 5px solid $color-accent;
        border-radius: .5rem;
      }
    }

  }
 
  