.c-sbtable {
    margin-top: 3rem;
    margin-bottom: 3rem;
    border-radius: .3125rem;
    background-color: $color-itembackground;
    width: 100%;
    text-align: left;

    &__head {
        height: 3rem;
        font-size: 15px;
        font-weight: bold;
        color: $color-white;
    }
    &__id{
        padding-left: 4rem;
    }
    &__count{
        padding-left: 4rem;
    }

    &__body {
        font-size: 16px;
        color: $color-text-grey;
        font-weight: bold;  
        height: 100%;
    }
    &__row{
        border: 1px solid white;
        height: 3rem;
    }
}