.c-dashboard {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  // grid-template-rows: 500px 152px 414px 134px 134px 350px;
  grid-template-rows: minmax(0, 1fr);
  grid-template-areas:
    "belgium belgium belgium belgium belgium"
    "users users users users users"
    "subs subs subs watchhours watchhours"
    "movies movies upcoming upcoming upcoming"
    "series series upcoming upcoming upcoming"
    "top top top top top";
  gap: 1.5625rem;
  padding: 1.875rem;
  margin-left: 295px;
  @include media-breakpoint-down(xl) {
    grid-template-columns: 1fr 1fr;
    margin-left: 0;
    grid-template-areas:
      "belgium belgium"
      "users users"
      "subs subs"
      "watchhours watchhours"
      "movies series"
      "upcoming upcoming"
      "top top";
  }
  @include media-breakpoint-down(md) {
    grid-template-columns: 1fr;
    margin-left: 0;
    grid-template-areas:
      "belgium"
      "users"
      "subs"
      "watchhours"
      "movies"
      "series"
      "upcoming"
      "top";
  }
}

.c-dashboard__item {
  background-color: $color-itembackground;
  border-radius: 5px;
}

.c-dashboard__belgium {
  grid-area: belgium;
}
.c-dashboard__users {
  grid-area: users;
}
.c-dashboard__subs {
  grid-area: subs;
  height: 26.25rem;
  padding: 2.75rem;
}
.c-dashboard__watchhours {
  grid-area: watchhours;
  height: 26.25rem;
  padding: 2.75rem;
}
.c-dashboard__movieswatched {
  grid-area: movies;
}
.c-dashboard__serieswatched {
  grid-area: series;
}
.c-dashboard__upcoming {
  grid-area: upcoming;
}
.c-dashboard__top5 {
  grid-area: top;
  background-color: transparent;
}

.tempnav {
  width: 295px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  //   background-color: greenyellow;
}
