.c-inputfilmform {
  @include media-breakpoint-down(xl) {
    display: flex;
    justify-content: center;
  }

  &-container {
    // height: 700px;
  }

  h2 {
    font-weight: bolder;
    color: $color-white;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    position: relative;

    &::after {
      content: "";
      background: linear-gradient(90deg, rgba(242, 13, 58, 1) 0%, rgba(255, 10, 90, 1) 50%, rgba(204, 2, 67, 1) 100%) !important;
      color: $color-white !important;
      width: 4.5rem;
      height: 0.5rem;
      position: absolute;
      top: 2.25rem;
      left: 7rem;
    }
  }

  &__form {
    input[type="file"] {
      display: none;
    }
  }

  &-margins {
    margin: 1.25rem 1rem;
  }

  &__label {
    color: $color-text-grey;
    margin-bottom: 0.25rem;
  }

  &__select {
    cursor: pointer;
    height: 2.5rem;
    width: 100%;
    background-color: $color-itembackground;
    color: $color-white;
    border-radius: 0.5rem;
    padding: 0 0.5rem;
  }

  &__select2 {
    width: 105%;
  }

  &__categorieselect {
    width: 103%;
  }

  &__btn {
    display: flex;
    justify-content: end;
  }

  &__radio {
    background-color: $color-itembackground;
    color: $color-white;
    font-size: 1.25rem;
    margin-right: 1rem;
    height: 2.5rem;
    width: 10rem;
    border: none;
    &:hover {
      background: linear-gradient(90deg, rgba(242, 13, 58, 1) 0%, rgba(255, 10, 90, 1) 50%, rgba(204, 2, 67, 1) 100%) !important;
      color: $color-white !important;
    }
    &:checked + .btn,
    :not(.btn-check) + .btn:active,
    .btn:first-child:active,
    .btn.active,
    .btn.show {
      background: linear-gradient(90deg, rgba(242, 13, 58, 1) 0%, rgba(255, 10, 90, 1) 50%, rgba(204, 2, 67, 1) 100%) !important;
      color: $color-white !important;
    }

    @media only screen and (max-width: 1650px) {
      margin-bottom: 1rem;
    }
  }

  &__preview {
    height: 23rem;
    width: 100%;
  }

  &__input {
    background-color: $color-itembackground;
    color: $color-white;
    margin-top: 0rem;
    border: none;
    height: 2.5rem;
    &:focus {
      background-color: $color-itembackground;
      color: $color-white;
      filter: none;
      box-shadow: none;
    }
    &[type="date"]::-webkit-calendar-picker-indicator {
      filter: invert(1);
    }
  }
}
