.c-gebruikersbedb {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.5625rem;

  &__kaart {
    text-align: center;
    width: 50%;
    // fill: hotpink;
    @include media-breakpoint-down(lg) {
      display: none;
    }
  }
  &__svg {
    object-fit: cover;
    height: 40%;
    width: 80%;
    fill: $color-background;
    stroke: $color-itembackground;
  }
  &__wallonie {
    fill: #0c0921;
  }
  &__provincie {
    &:hover {
      fill: hotpink;
    }
  }
  &__chartcont {
    display: flex;
    justify-content: center;
    // margin-left: 5rem;
    width: 50%;
    @include media-breakpoint-down(lg) {
      width: 80%;
    }
    @include media-breakpoint-down(md) {
      flex-direction: column;
      justify-content: space-around;
      margin-top: 2rem;
    }
  }
  &__chartwrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__charttext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
  }
  &__charttitle {
    margin: 0;
    font-size: 3rem;
    font-weight: bold;
  }
  &__chartsubtitle {
    font-size: 0.75rem;
    font-weight: bold;
    color: $color-text-grey;
    margin-top: -0.5rem;
  }
  &__chart {
    position: relative;
    object-fit: cover;
  }

  &__legendbox {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: 5rem;

    @include media-breakpoint-down(md) {
      flex-direction: column;
      margin-top: 5rem;
      margin-left: 0;
    }
  }
  &__legendlist {
    list-style: none;
    justify-content: flex-start;
    padding: 0;
  }
  &__legenditem {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    h3 {
      font-size: 1rem;
    }
  }
  &__legendcolor {
    width: 0.5rem;
    height: 1.875rem;
    margin-left: 2rem;
    &--wv {
      background-color: $color-chart-orange;
    }
    &--ov {
      background-color: $color-chart-yellow;
    }
    &--a {
      background-color: $color-chart-pink;
    }
    &--l {
      background-color: $color-chart-pink2;
    }
    &--vb {
      background-color: $color-chart-pink3;
    }
    &--b {
      background-color: $color-chart-grey;
    }
  }
}
