.c-dropdowndb {
  position: absolute;
  top: -0.5rem;
  right: -2.9rem;
  display: flex;
  flex-direction: column;
  text-align: start;
  background-color: $color-accent;
  //   padding: 0.5rem;
  border-radius: .3125rem;
  padding-top: 3rem;
  &__item {
    color: $color-light;
    padding: 12px 16px;
    text-decoration: none;
    &:hover {
      background-color: $color-light;
      color: $color-accent;
    }
  }
}

.u-hidedropdown {
  display: none;
}
