.c-form{
    margin-top: 3rem;
    &__container{
        width: 100%;
        padding: 3rem 0;
    }
    &__form{
        height: 100%;
        overflow: hidden;
        input[type="file"] {
            display: none;
          }
    }
    &__label{
        margin-bottom: .5rem;
        color: $color-text-grey;
    }
    &__input{
        background-color: $color-itembackground;
        color: $color-white;
        border: none;
        &[type="date"]::-webkit-calendar-picker-indicator {
            filter: invert(1);
        }
        &:focus{
        background-color: $color-itembackground;
        color: $color-white;
        filter: none;
        box-shadow: none;
        }
    }
    
    &__radio{
        background-color: $color-itembackground; 
        color: $color-white;
        border: none;
        margin-right: 1rem;

        &:hover{
            background: linear-gradient(90deg, rgba(242,13,58,1) 0%, rgba(255,10,90,1) 50%, rgba(204,2,67,1) 100%) !important;
            color: $color-white !important;
        }
        &:checked + .btn, :not(.btn-check) + .btn:active, .btn:first-child:active, .btn.active, .btn.show {
            background: linear-gradient(90deg, rgba(242,13,58,1) 0%, rgba(255,10,90,1) 50%, rgba(204,2,67,1) 100%) !important;
            color: $color-white !important;

        }
    }
    
    &__title{
        margin-bottom: 1.5rem;
    }
    &__btn{
        display: flex;
        justify-content: end;
    }
    &__preview {
        background-color: $color-itembackground;
        height: 200px;
        width: 200px;
        border-radius: .3125rem;
        position: relative;
        &--avatar{
            position: relative;
            &:hover{
                cursor: pointer;
            }
        }
        &--btn{
            position: absolute;
            top: 0;
            border: none;
        }
        &--hide{
            z-index: -1;
        }
      }
}

  