.c-contentwatcheddb {
  display: flex;
  justify-content: space-between;
  padding: 2.1875rem;
  @include media-breakpoint-only(md) {
    flex-direction: column;
  }
  @include media-breakpoint-down(sm) {
    flex-direction: column;
  }
  &__type {
    @include media-breakpoint-only(md) {
      text-align: center;
      margin-bottom: 2rem;
    }
    @include media-breakpoint-down(sm) {
      text-align: center;
      margin-bottom: 2rem;
    }
  }
  &__uren {
    display: flex;
    justify-content: space-between;
  }
  &__maand {
    margin-left: 3rem;
    text-align: center;
    @include media-breakpoint-only(md) {
      margin-left: 0;
    }
    @include media-breakpoint-down(sm) {
      margin-left: 0;
    }
  }
  &__title {
    color: $color-text-grey;
  }
  &__amountcont {
    position: relative;
  }
  &__amount {
    margin: 0;
  }
  h3 {
    margin: 0;
    font-size: 18;
    font-weight: 800;
  }
  &__arrow {
    bottom: 0.5rem;
    position: absolute;
    left: -1rem;
    width: 0.75rem;
  }
}
