.c-instellingen {
  display: grid;
  grid-template-columns: min-content auto;

  gap: 1.5625rem;
  padding: 1.875rem;
  margin-left: 18.4375rem;
  @include media-breakpoint-down(xxl) {
    grid-template-columns: 1fr;
    gap: 0;
  }
  @include media-breakpoint-down(xl) {
    margin-left: 0;
  }

  &__section {
    // background-color: hotpink;
    border-radius: 5px;
    // height: 20rem;
    visibility: hidden;
    animation-fill-mode: forwards;
    &--nav {
      // width: 400px;
    }
    &--window {
      background-color: $color-itembackground;
    }
  }
}
