.c-gebruikersdb {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  // flex-grow: 1;
  flex-basis: 0;
  padding: 1.5625rem;
  min-width: 0;
  &__item {
    text-align: end;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: solid 2px white;
    &:first-child {
      border-left: none;
    }
    width: calc((100%) / 4) !important;
    @include media-breakpoint-down(xxl) {
      width: calc((100%) / 2) !important;
    }
    @include media-breakpoint-down(md) {
      width: calc((100% / 1)) !important;
      margin-top: 2rem;
    }
  }
  &__title {
    color: $color-text-grey;
  }
  &__amountcont {
    display: flex;
    align-items: center;
    position: relative;
  }
  &__amount {
    font-size: 1.5rem;
    font-weight: bolder;
    // padding: 0 1rem;
  }
  &__arrow {
    margin-bottom: 0.8rem;
    position: absolute;
    left: -2.5rem;
  }
  &__percent {
    right: -3rem;
    position: absolute;
    font-size: 0.75rem;
    font-weight: bold;
    color: $color-positive;
    &--negative {
      color: $color-accent;
    }
  }
}
