.c-content__table{
  padding: 1.875rem;
  margin-left: 18.4375rem;

    @include media-breakpoint-down(lg) {
      margin-left: 1rem;
      overflow-x:auto;
    }

    &--btn {
      padding: .5rem 1rem;
      margin-left: 48rem;
      text-decoration: none;
      text-align: center;

      &:hover {
        color: white;
      }
    }
}
