.c-top5db {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-template-rows: min-content auto;
  gap: 1.5625rem;

  // padding: 0 1.5625rem;

  &__image {
    position: relative;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    height: 26.875rem;
    &--1 {
      background-image: url(../img/top5-1.png);
    }
    &--2 {
      background-image: url(../img/top5-2.png);
    }
    &--3 {
      background-image: url(../img/top5-3.png);
    }
    &--4 {
      background-image: url(../img/top5-4.png);
    }
    &--5 {
      background-image: url(../img/top5-5.png);
    }
    &:hover {
      .c-top5db__text {
        visibility: visible;
      }
    }
  }
  &__nr {
    position: absolute;
    left: 1rem;
    top: 1rem;
    padding: 0.375rem auto;
    border: solid 2px $color-accent;
    border-radius: 0.3125rem;
    width: 2.1875rem;
    height: 2.1875rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-accent;
  }
  &__text {
    visibility: hidden;
    position: absolute;
    bottom: 1rem;
    right: 50%;
    transform: translateX(50%);
  }
}
