.c-sbblok{
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: flex;
    &__img{
        min-width: 200px;
        height: 90%;
        margin-right: 2rem;
        border-radius: 1rem;
        &--add{
            display: flex;
            align-items: center;
            border: 1px solid white;
            border-radius: 1rem;
            justify-content: center;
            height: 18rem;
            max-width: 200px;
        }
    }
    &__wrap{
        display: flex;
        flex-wrap: nowrap;
        height: 20rem;
        max-width: 100%;
    }
    &__row{
        cursor: grab;
        overflow: auto;
        &::-webkit-scrollbar {
            background-color: $color-itembackground;
        }
        
        &::-webkit-scrollbar-thumb {
          background-color: $color-accent;
          height: 30px ;
          border-radius: 1rem;
        }
        &:active{
            cursor: grabbing;
        }
        h1{
            text-transform: capitalize;
        }
    }
    &__add{
        justify-content: center;
        height: 64px;
        cursor: pointer;
    }
    &__popup{
        position: absolute;
        background-color: #020012;
        position: absolute;
        visibility: visible;
        display: flex;
        justify-content: space-evenly;
        width: 25%;
        height: 10%;
        padding: 20px;
        z-index: 100;
        top:55%;
        left:30%;
        border: 2px solid white;
        border-radius: 1rem;
    }
}

.c-closebtn{
    background-color: #020012;
    color: $color-accent;
    top: .2rem;
    right: .2rem;
    font-size: 24pt;
}

#product-rows{
    width: 100%;
}

  
  
  
  