* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1rem;
  color: $color-white;
  background-color: $color-background;
  overflow-x: hidden;
  font-family: "Red Hat Text", sans-serif;
  position: relative;
}

h2 {
  font-size: 1.375rem;
  font-weight: bold;
}
h3 {
  font-size: 1.125rem;
}

.o-container {
  margin-left: 0;
}
