$color-white: white;
$color-black: #151618;
$color-text-grey: #a6a9b7;
$color-background: #020012;
$color-itembackground: #171431;
$color-accent: #ff0a5a;
$color-positive: #8cea05;
$color-accent: #ff0a5a;
$color-light: #ffffff;
$color-chart-pink: #ff0a5a;
$color-chart-pink2: #CC0243;
$color-chart-pink3: #F20D3A;
$color-chart-orange: #f64900;
$color-chart-yellow: #fed71f;
$color-chart-grey: #7d839f;
$color-grey: #cccccc;
$color-border: #5C659D;

$font-standard: 'Red Hat Text', sans-serif;


