
$color-white: #ffffff;
$color-black: #151618;
$color-text-grey: #A6A9B7;
$color-background: #020012;
$color-itembackground: #171431;
$color-accent: #ff0a5a;
$color-positive: #8CEA05;
$color-accent: #FF0A5A;
$color-light: white;

